<nav class="navbar navbar-expand-lg navbar-light bg-light header w-100">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img (click)="onClickShop()" alt="Logo" src="../../assets/logo.png" class="logo pointer" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li (click)="onClickShop()" class="nav-item">
                    <a class="nav-link active pointer font-weight-normal font-size-14 line-height-16"
                        aria-current="page">Shop
                        <img class="ml-1 pointer" src="../../assets/Vector.png" alt="vector">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer font-weight-normal font-size-14 line-height-16">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer font-weight-normal font-size-14 line-height-16">Our Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer font-weight-normal font-size-14 line-height-16">Contact Us</a>
                </li>

            </ul>
            <form class="d-flex">
                <img class="icon mr-2 mt-1 pointer" src="../../assets/search-icon.png" alt="search-icon">
                <img class="icon mr-2 mt-1 pointer" src="../../assets/user-icon.png " alt="user-icon">
                <div class="position-relative pointer" (click)="onClickCart()">
                    <img class="icon-cart" src="../../assets/cart-icon.png" alt="cart-icon">
                    <span *ngIf="count"
                        class="position-absolute font-weight-300 font-size-12 line-height-14 count-icon">
                        {{count}}
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>