<div class="container-fluid header">
    <div class="position relative">
        <div class="row">
            <div class="col-1 position-absolute logo-div">
                <img alt="Logo" src="../../assets/logo.png" class="logo" />
            </div>
            <div class="col-9 nav-div">
                <ul class="nav justify-content-center">
                    <li class="nav-item pointer" routerLink="/shop"
                        [ngClass]="{ active:pageUrl === '/shop'? 'true' : '' }">
                        <a class="nav-link px-4 text-dark bold py-1">Shop</a>
                    </li>
                    <li class="nav-item pointer" routerLink="/about-us"
                        [ngClass]="{ active:pageUrl === '/about-us' ? 'true' : '' }">
                        <a class="nav-link px-4 text-dark bold py-1">About Us</a>
                    </li>
                    <li class="nav-item pointer" routerLink="/our-stores"
                        [ngClass]="{ active:pageUrl === '/our-stores'  ? 'true' : '' }">
                        <a class="nav-link px-4 text-dark bold py-1">Our Stores</a>
                    </li>
                    <li class="nav-item pointer" routerLink="/contact-us"
                        [ngClass]="{ active:pageUrl === '/contact-us'? 'true' : '' }">
                        <a class="nav-link px-4 text-dark bold py-1">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 mt-4">
                <div class="padding-left-77 float-left mr-3 ">
                    <img src="../../assets/search-icon.png" alt="search-icon">
                </div>
                <div class="float-left  mr-3">
                    <img src="../../assets/user-icon.png " alt="user-icon">
                </div>
                <div class=" position-relative float-left mr-3">
                    <img class="" src="../../assets/cart-icon.png" alt="cart-icon">
                    <div class="position-absolute cart-ellipse">
                        <img src="../../assets/Ellipse 10.png" alt="Ellipse-10">
                        <span>1</span>
                    </div>
                </div>

            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="clear"></div>
</div>