.header{
  position: fixed;
  background-color: #fff;
  z-index: 999;
}

.logo {
  height: 38px;
  width: 38px;
  border-radius: 0px;
}

.logo-div {
  margin: 16px 16px 25px 0;
}

.nav-div {
  margin: 19px 0px 6px 100px;
  left: 32px;
}

.count-icon {
  display: inline-block;
  top: -5px;
  right: -6px;
  background-color: #E64C09;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
  padding: 2px 0 0 0;
  color: #fff;
}

.icon {
  width: 22px;
  height: 22px;
}

.icon-cart {
  width: 30px;
  height: 30px;
}
