<div class="container-fluid header">
    <div class="position relative">
        <div class="row">
            <div class="col-1 position-absolute logo-div">
                <img alt="Logo" src="../../assets/logo.png" class="logo" />
            </div>
            <div class="col-9 nav-div">
                <ul class="nav justify-content-center">
                    <li class=" pointer px-4  font-weight-normal font-size-14 line-height-16 black py-1">
                        Shop
                        <img class="ml-1" src="../../assets/Vector.png" alt="vector">
                    </li>
                    <li class=" pointer px-4 font-weight-normal font-size-14 line-height-16 black py-1">
                        About Us
                    </li>
                    <li class=" pointer px-4 font-weight-normal font-size-14 line-height-16 black py-1">
                        Our Stores
                    </li>
                    <li class=" pointer px-4 font-weight-normal font-size-14 line-height-16 black py-1">
                        Contact Us
                    </li>
                </ul>
            </div>
            <div class="col-2 mt-4">
                <div class="padding-left-77 float-left mr-3 pointer ">
                    <img src="../../assets/search-icon.png" alt="search-icon">
                </div>
                <div class="float-left  mr-3 pointer">
                    <img src="../../assets/user-icon.png " alt="user-icon">
                </div>
                <div class="  float-left mr-3 pointer">
                    <img class="" src="../../assets/cart-icon.png" alt="cart-icon">
                    <div class="cart-ellipse" style="top: -41px;">
                        <img src="../../assets/Ellipse 10.png" alt="Ellipse-10">
                        <span class="position-absolute font-weight-300 font-size-12 line-height-14 count-icon">
                            1
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div>
        </div>
    </div>
    <div class="clear"></div>
</div>