.filter-spacing {
  margin-left: 8px;
  padding: 10px 24px 10px 25px;
}

.sort-spacing {
  padding: 10px 15px 2px 17px;
}

ul {
  list-style: none;
  margin-bottom: 10px;
  z-index: 999;
  background-color: white;
  padding-right: 38px;
  border-radius: 20px;

}

li {
  margin-left: -21px;
  margin-block: 15px;
}