.titleContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item .item-options {
  display: none;
}
.item .item-meta-data {
  position: relative;
  display: block;
}

.item:hover .item-options {
  position: relative;
  display: block;
  margin-bottom: 21px;
}

.item:hover .item-meta-data {
  display: none;
}