.titleContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item {
  position: relative;
}


.item-options {
  position: absolute;
  display: none;
  bottom: 0px;
  background-color: #fff;
  left: 0;
  right: 0;
  height: 45px;
}

.item:hover .item-options {
  display: block;
}
