/* You can add global styles to this file, and also import other style files */

.padding-left-77 {
  padding-left: 77px;
}

.productsInList {
  width: 160px;
  border: 1px solid #d9d9d9;
  float: left;
  margin: 12px;
  min-height: 225px;
}

.productsInList .proImg {
  width: 158px;
  height: 158px;
}
